.vehiclePreviewBox {
  background-image: url("https://placehold.co/200x200/coral/white");
  background-size: cover;
}

.vehiclePreview,
.vehiclePreviewBox {
  width: 10rem;
  height: 10rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.vehicleCard {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  max-width: 20rem;
  background-color: whitesmoke;
  padding-right: 2rem;
  box-shadow: 1rem 0.5rem 0.0625rem 0.0625rem gainsboro;
  border-radius: 0.25rem;
  align-items: center;
}

.vehicleTypeTitle,
.vehicleTypeText {
  margin: 0;
  text-align: center;
}

.vehicleTypeTitle {
  font-size: large;
}

.vehicleTypeText {
  color: gray;
}

.vehicleImageForm {
  margin-top: 1rem;
  width: 20rem;
}
.vehicleImageInput {
  display: none;
}

.vehicleImageLabel {
  color: black;
  background-color: whitesmoke;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.125rem 0.0625rem 0.0625rem gainsboro;
}

.vehicleImageLabel:hover {
  color: #ff8051;
  cursor: pointer;
}
