.footer {
  border-top: 0.0625rem solid whitesmoke;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  display: grid;
  position: absolute;
  bottom: 0;
}

.footer-title {
  margin: 0;
  color: black;
}

.footer-paragraph {
  color: gray;
}

.footer-social {
  width: 1.5rem;
}

.footer-social-group {
  display: flex;
  gap: 0.5rem;
}
