.hero {
  width: 100vw;
  height: 10rem;
  display: grid;
  justify-content: center;
  border-bottom: 0.0625rem solid whitesmoke;
}

.hero-title {
  align-self: center;

  background-color: whitesmoke;
  opacity: 0.85;
  margin: 0.5rem;

  padding: 0 2rem;
  border-radius: 0.5rem;
}
